### Since we don't have official Product list, we make our lookup table to check if the information we extracted by using only regular expression is actually one of the products.

In [1]:
import pandas as pd
import numpy as np
import os
import re
from itertools import chain

In [2]:
folder_path = r'.\version_extract'
%time sf1 = pd.read_csv(os.path.join(folder_path, 'data\SF_Comments.csv'))
%time sf2 = pd.read_csv(os.path.join(folder_path, 'data\SF_Comments_Apr28Jun05.csv'))
%time sf3 = pd.read_csv(os.path.join(folder_path, 'data\SF_Comments_June28_July31.csv'))
%time sf4 = pd.read_csv(os.path.join(folder_path, 'data\SF_Comments_May30_June30.csv'))

Wall time: 8.7 s
Wall time: 153 ms
Wall time: 123 ms
Wall time: 139 ms

In [3]:
sf1.shape[0], sf2.shape[0], sf3.shape[0], sf4.shape[0],

(1020178, 12729, 12092, 14545)

In [4]:
lookup_path = r'.\lookup\SomeVersions.xlsx'
table = pd.read_excel(lookup_path, sheet_name = 'Sheet13')
# run only once
versions = table.drop(index=0)['Versions']

In [5]:
df = pd.concat([sf1, sf2, sf3, sf4], axis=0, ignore_index = True)
df2 = df[df.comment.notnull()]
comments = df2.comment
df.shape, len(comments)

((1059544, 14), 1046184)

### Main

In [6]:
def extract(series, regx = None, show_examples = False):
    # Input data need to be pd.Series
    
    ## define matching criteria
    if regx is None:
        full_regx = '\s.?[A-Za-z_]{3,}.?[0-9]{1,2}[.][0-9]{1,2}[.0-9]*.?\s'
        other_regx = '\s.?[0-9]{1,2}[.\s]?[0-9]{1,2}[.0-9]*.?\s'
        #regular_expression = '\s.?[A-Z]{1}[A-Za-z_]{1,}.?[0-9]{1,2}[.][0-9]{1,2}[.0-9]*.?\s|\s.?[0-9]{1,2}[.][0-9]{1,2}[.0-9]*.?\s'
        regular_expression = r'\s.?[A-Z]{1}[A-Z_]{1,}.?[0-9]{1,2}[.][0-9]{1,2}[.0-9]*.?\s|\s[^a-zA-Z]?[0-9]{1,2}[.][0-9]{1,2}[.0-9]*.?\s'
    else:
        regular_expression = regx
    
    new_series = pd.Series([re.sub('\s[vV]ersion is|\s[vV]ersion|[vV]ersion', '', x) for x in series],index = series.index)
    
        # get a match object
        # matches = [re.search(regular_expression ,str(x)) for x in series]
        
    matches = pd.Series([re.findall(regular_expression ,str(x)) for x in new_series],
                        index = new_series.index)

    ind = [len(x)!=0 for x in matches]
    extracted = matches[ind]
    extracted.name = 'Matched Results'

    extract_final = pd.DataFrame(extracted)
    extract_final['Matched Num'] =  extract_final['Matched Results'].apply(len)
    
    
    if show_examples:
        print('Extracted samples:')
        for i, info in extract_final.head(3).iteritems():
            print('-'*20 + '{}'.format(i) + '-'*20)
            print(info)
    # output series
    
    return extract_final

In [7]:
%time o2 = extract(comments)
#o5.head(10)

Wall time: 31.4 s

In [8]:
o2.tail(10)

                                           Matched Results  Matched Num
1059447                                    [ PTA 11.4.0? ]            1
1059448                                        [ 12.4.0. ]            1
1059449                                    [ PTA 12.4.0? ]            1
1059455                                         [ 2.19.3 ]            1
1059457                                     [ PTA 12.4.0 ]            1
1059462  [ TNG 2.19 ,  TNG 2.19 ,  TNG 2.19 ,  TNG 2.19...            4
1059463                                      [ SGMAS 1.2 ]            1
1059475                                  [ FS 2.1.86619) ]            1
1059480                                     [ SGMAS 1.30 ]            1
1059541                         [ (1.11 ,  1.14) ,  1.11 ]            3

In [9]:
def extract_split(extract_df):
    ## split the lst in 'Matched Results'
    col_id = extract_df.index.values.repeat(extract_df['Matched Num'])
    col_version = list(chain(*list(extract_df['Matched Results'])))
    extract_break = pd.DataFrame({'c_id':col_id, 'extract_info': col_version})
    extract_break['extract_info'] = extract_break['extract_info'].apply(lambda x: x.lstrip().rstrip())
    
    return extract_break

In [10]:
o2_break = extract_split(o2)

In [11]:
o2_break[o2_break['c_id']==1059541]

           c_id extract_info
262406  1059541        (1.11
262407  1059541        1.14)
262408  1059541         1.11

In [12]:
def text_split(string):
    ## input is a string 
    x = re.sub('[^A-Za-z0-9.]+', "", string)
    ind = x[0] in set(['0','1','2','3','4','5','6','7','8','9'])
    if ind:
        return np.nan, x
    else:
                # slice index
        start = re.search('\d',x).span()[0]
        p1 = re.sub('[^A-Za-z]+', "", x[:start])
        p2 = x[start:]
        return p1, p2

In [13]:
txt_split =  o2_break['extract_info'].apply(text_split)
o2_break['Alphabets'] = list(txt_split.apply(lambda x: x[0]))
o2_break['Digits'] = list(txt_split.apply(lambda x: x[1]))

In [14]:
o2_break.head(5)

   c_id   extract_info Alphabets   Digits
0    47           2.20       NaN     2.20
1    47         7.30.1       NaN   7.30.1
2    64        CA 2.2]        CA      2.2
3    64   BIPRU 14.2.1     BIPRU   14.2.1
4    64  BIPRU 14.2.13     BIPRU  14.2.13

In [15]:
lookup1 = pd.DataFrame(list(set(versions.apply(lambda x: x.split(' ')[0]))), columns = ['index'])
lookup1['lower_case'] = lookup1['index'].apply(lambda x:x.lower())

In [16]:
lookup1['original_clean'] = lookup1['index'].apply(lambda x: re.sub('[^A-Za-z]+', "", x))
lookup1['lower_clean'] = lookup1['original_clean'].apply(lambda x:x.lower())

In [20]:
lookup1.sample(15)

          index   lower_case original_clean  lower_clean
14      ESA_BdE      esa_bde         ESABdE       esabde
46       CA_NCR       ca_ncr          CANCR        cancr
19          INA          ina            INA          ina
33      Finance      finance        Finance      finance
17       CA_LCR       ca_lcr          CALCR        calcr
55          RRE          rre            RRE          rre
27     Business     business       Business     business
4           FRA          fra            FRA          fra
48      Toolkit      toolkit        Toolkit      toolkit
37          FIA          fia            FIA          fia
40    FDAModels    fdamodels      FDAModels    fdamodels
30   Compliance   compliance     Compliance   compliance
13      CZA_MKT      cza_mkt         CZAMKT       czamkt
15          PTA          pta            PTA          pta
58  FINRISKMGMT  finriskmgmt    FINRISKMGMT  finriskmgmt

### Find Alphabets with most appearance

In [21]:
#### alphabets is also cleaned
o2_break['lower_clean'] = o2_break['Alphabets'].dropna().apply(lambda x: x.lower())

In [22]:
## check appearance of different alphabets on 'lower_clean' level
lk = o2_break[~o2_break['lower_clean'].isin(lookup1['lower_clean'])].groupby(['lower_clean', 'Alphabets'])['c_id']\
.nunique().reset_index().sort_values('c_id', ascending =False)

In [23]:
ct = lk.groupby('lower_clean')['c_id'].apply(sum).reset_index().sort_values('c_id', ascending = False)

In [24]:
ct.head()

    lower_clean   c_id
659          rg  10360
813         tng   5663
307          fs   3669
207          df   1072
227         dpm   1027

In [25]:
## by manual check, I made this list 
## in which elements are not product alphabets, but with most appearance before digits
remove_lst =['c', 'f', 't', 'in', 'ii', 'uk','hf', 'on','am', 'pm','as', 'is', 'so', 'no', 'iv', 'if',  'at',\
             'ff', 'mo', 'se','the', 'for', 'and' , 'app', 'ie', 'be', 'was',
'nt', 'the', 'for', 'part', 'java', 'guide', 'notes', 'rules', 'table', 'setup', 'param', 'studio',\
'driver', 'system','product', 'release', 'section', 'desktop', 'chapter',' windows',' framework', 'management',\
'calculator', 'version', 'in', 'release','and', 'then','pm', 'usd','id', 'null','vii.', 'return', 'xxx_', 'on']

In [26]:
## make 10 a threshold so that alphabets right before digits with appearances in over 10 different comments are selected
lk2 = lk[lk['lower_clean'].isin(ct[ct['c_id']>=10]['lower_clean'])].groupby('lower_clean').head(1)

In [27]:
lk3 = lk2[~lk2['lower_clean'].isin(remove_lst)]

In [28]:
lk3.head()

    lower_clean Alphabets   c_id
663          rg        RG  10360
819         tng       TNG   5659
309          fs        FS   3669
208          df        DF   1072
228         dpm       DPM   1027

In [29]:
lk2.shape[0], lk3.shape[0]

(157, 139)

In [31]:
lookup1.head()

         index   lower_case original_clean  lower_clean
0          CHA          cha            CHA          cha
1  RegPlatform  regplatform    RegPlatform  regplatform
2    ATMapping    atmapping      ATMapping    atmapping
3         FinX         finx           FinX         finx
4          FRA          fra            FRA          fra

In [32]:
lookup4 = pd.DataFrame({'index': lk3['Alphabets'], 'lower_clean':lk3['lower_clean']})
lookup4.head()

    index lower_clean
663    RG          rg
819   TNG         tng
309    FS          fs
208    DF          df
228   DPM         dpm

In [33]:
lookup5 = lookup1[['index', 'lower_clean']]

In [34]:
lookup_abc = pd.concat([lookup5, lookup4], axis=0, ignore_index = True)
lookup_abc.shape

(199, 2)

In [40]:
lookup_abc.to_csv(r'.\lookup\lookup_0820.csv')